<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign-gt-md="space-around center" flLayoutGap="10px" fxLayoutGat.xs="0">

  <div fxFlex *ngIf="dish">
    <div fxFlex="40" [@visibility]="visibility">
      <md-card>
        <md-card-header><h4>{{dish.name | uppercase}}</h4></md-card-header>
        <img md-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
        <md-card-content>
          <p>{{dish.description}}</p>
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button md-button (click)="goBack()">BACK</button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button md-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </md-card-actions>
      </md-card>
    </div>

    <div fxFlex="40" [@visibility]="visibility">
      <md-card fxFlex>
        <md-card-header> <h3>Comments</h3>
        </md-card-header>
        <md-card-content>
          <md-list fxFlex>
            <md-list-item *ngFor="let comment of dish.comments">
              <p md-line>{{comment.comment}}</p>
              <p md-line>{{comment.rating}} Stars</p>
              <p md-line>-- {{comment.author}} {{comment.date | date }}</p>
            </md-list-item>

            <md-list-item *ngIf="addCommentForm.value.comment && addCommentForm.status ==='VALID'">
              <p md-line> {{addCommentForm.value.comment}}</p>
              <p md-line> {{addCommentForm.value.rating}}</p>
              <p md-line>-- {{addCommentForm.value.author}} </p>
            </md-list-item>
              <form novalidate [formGroup]="addCommentForm" (ngSubmit)="onSubmit()" >
                <p>
                  <md-input-container dividerColor="commentErrors.author? 'warn' : 'primary' ">
                    <input mdInput formControlName="author" placeholder="Name" type="text">
                    <md-hint>
                      <span [hidden]="!(commentErrors.author)">{{commentErrors.author}}</span>
                    </md-hint>
                  </md-input-container>
                </p>
                <p>
                    <md-slider formControlName="rating" min="1" max="5" value="5" thumbLabel tickInterval="1"></md-slider>
                </p>
                <p>
                  <md-input-container dividerColor="commentErrors.comment? 'warn' : 'primary' ">
                    <textarea mdInput formControlName="comment" placeholder="Your Comment" rows="8"></textarea>
                  </md-input-container>
                  <md-hint>
                    <span [hidden]="!(commentErrors.comment)">{{commentErrors.comment}}</span>
                  </md-hint>
                </p>
                <button md-button type="submit" class="background-primary text-floral-white" [disabled]="addCommentForm.invalid">Submit</button>
              </form>
          </md-list>

        </md-card-content>
      </md-card>

    </div>

  </div>

  <div [hidden]="dish || errMess">
    <md-spinner></md-spinner><h4>Loading... Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>
